<%# commented line %>
<% if user_signed_in? %>
<p id="notice"><%= notice %></p><br>
    <h1> List of all books</h1>

    <%= render 'home/header' %>

          <% @mybooks.each do |mybook| %>



      <div class="book read">
        <div class="cover">
          <%= image_tag mybook.image, class: "img img-fluid" %>
        </div>
        <div class="description", style="text-decoration: none">
                 <p><%= link_to mybook.title, mybook, class:"btn default", style:"text-decoration: none" %>
           <%#<span ><%= link_to mybook.description, class:"author" ></span>%></p>

        </div>
      </div>








  


             

        <%#<td><%= link_to 'Show details', mybook, class:"btn btn-primary"  %>
          <% end %>
      
    






<% end %>
