<p id="notice"><%= notice %></p>
<br><br>
    <%= render 'home/header' %>
    <div class="container" style=" border-style: 2px solid black">
<h1 style="color: black">My books</h1><br>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title:</th>
      <th scope="col">Semester:</th>
      <th scope="col">Price</th>
      <th scope="col">Phone:</th>

      

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @mybooks.each do |mybook| %>
      <tr>
        
        <% if mybook.user == current_user %> 
        <td ><%= mybook.title %></td>
        
        <td><%= mybook.description %></td>
        <td><i style="font-size:24px; margin-bottom: 5px" class="fa">&#xf156;</i><%= mybook.email %></td>
        
        <td><%= mybook.phone %></td>
        



        <td><%= link_to 'Show details', mybook, class:"btn btn-primary"  %></td>
        <td><%= link_to 'Edit Book details', edit_mybook_path(mybook), class:"btn btn-success" %></td>
        <td><%= link_to 'Delete', mybook, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new book', new_mybook_path, style:"color: magenta" %>
</div>