<%# commented line %>

<p id="notice"><%= notice %></p><br>
<% if user_signed_in? %>
    <h1> List of all books</h1>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= render 'home/header' %>
    <div class="container" style="text-align: center;">
            <%= search_form_for @q do |form| %>
        <%= form.label :title_cont %>
        <%= form.search_field :title_cont %>
        <%= form.submit %>
        <% end %>  
      </div>
<div class="container" style="text-align: center;">
<% @mybooks.each do |mybook| %>




      <div class="book read">
        <div class="cover">
          <%= image_tag mybook.image, class: "img img-fluid" %>
        </div>
        <div class="description", style="text-decoration: none">
                 <p style="margin-top: 3px"><%= link_to mybook.title, mybook, class:"btn default", style:"text-decoration: none" %>
           <%#<span ><%= link_to mybook.description, class:"author" ></span>%><br><i style="font-size:24px; margin-bottom: 5px" class="fa">&#xf156;</i></p>

        </div>
      </div>








  


             

        <%#<td><%= link_to 'Show details', mybook, class:"btn btn-primary"  %>
<% end %>
      
    






<% end %>
</div>

