<%# commented line %>

<p id="notice"><%= notice %></p><br>








    <h3 style="text-align: center;"> List of all books</h3>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= render 'home/header' %>
    <div class="container" style="text-align: center;">
        <%= search_form_for @q do |form| %>

        <%= form.search_field :title_cont, placeholder:"   Search by title" %>
        <%= form.submit %>
        <% end %>  
      </div>
<div class="container" style="text-align: center;">
<% @mybooks.each do |mybook| %>




      <div class="book read">
        <div class="cover">
          <%= link_to (image_tag mybook.image), mybook, class: "img img-fluid" %>
        </div>
        <div class="description", style="text-decoration: none">
                 <p style="margin-top: 3px"><%= link_to mybook.title, mybook, class:"btn default", style:"text-decoration: none; font-weight: bold" %>
           <%#<span ><%= link_to mybook.description, class:"author" ></span>%><br></p>

        </div>
      </div>
<% end %>







  


             

        <%#<td><%= link_to 'Show details', mybook, class:"btn btn-primary"  %>

      
    
</div>






