

<p id="notice"><%= notice %></p>
<br><br>

    <%= render 'home/header' %>

<!DOCTYPE html>
<html>

  <head>
    
    <!-- CSS property to place div
      side by side -->
    <style>
      #leftbox {
        float:left;
        background:White;
        width:35%;
        height:450px;
      }
      #middlebox{
        float:left;
        background:White;
        width:60%;
        height:450px;
      }

      h1{
        color:green;
        text-align:center;
      }
    </style>
  </head>
  
  <body>
<div class="container">
  <div class="container" style="float: left">
    <%= image_tag(@mybook.image, height:"100%", width:"10%", class:"center") %>
    </div>
    <div class="container">
    <strong>Title:</strong>
  <%= @mybook.title %><br>
</div><br>

<div class="container">
  <strong>Sem:</strong>
  <%= @mybook.description %><br>
</div><br>



<div class="container">
    <strong>Price:</strong>
  <%= @mybook.email %><br>
</div><br>
<div class="container">
    <strong>Google Pay/ Whatsapp:</strong>
  <%= @mybook.phone %><br>
</div>
<%= link_to 'Back', mybooks_path, class:"btn btn-secondary" %> 
 </div>
  </body>
</html>         


























